.App {
  text-align: center;
  display: flex;
  font-size: small;
}

.general-simple{
  background-color: aliceblue;
  border: solid black;
  margin-right: 3%;
  width: 45%;
}

.general-doble{
  background-color: rgb(250, 226, 195);
  border: solid black;
  width: 45%;
}

.table{
  display: flex;
  justify-content: center;
  border-left: 100px;
}

.th{
  border: solid black;
}